@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030303;
  --foreground: #faf9f9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .mask-torchlight {
    mask-image: radial-gradient(circle at top left, rgba(4, 189, 251, 0) 0%, rgb(160, 186, 176) 90%);
    -webkit-mask-image: radial-gradient(circle at top left, rgba(4, 189, 251, 0) 0%, rgb(160, 186, 176) 90%);
  }
}


/* Hide scrollbar for modern browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


/* CSS for the grid background pattern */
.bg-grid-pattern {
  background-image: 
    linear-gradient(to right, rgb(98, 94, 94) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(116, 110, 110) 1px, transparent 1px);
  background-size: 40px 40px; /* Adjust grid size */
  opacity: 0.2; /* Adjust grid visibility */
}
